@font-face {
  font-family: "Youtube Sans";
  font-style: normal;
  font-weight: 100;
  src: url("./Youtube-Sans-font/youtube-sans-light.ttf") format("ttf");
}

@font-face {
  font-family: "Youtube Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./Youtube-Sans-font/youtube-sans-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Youtube Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./Youtube-Sans-font/youtube-sans-bold.ttf") format("ttf");
}
